<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:usesCleartextTraffic="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:hardwareAccelerated="true"
        tools:targetApi="31">

        <!--        设置默认初始打开页面-->
        <activity
            android:name=".layout.login.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 百度地图API Key -->
        <meta-data
            android:name="com.baidu.lbsyun.API_KEY"
            android:value="eSoyXDh5bJ5ltxvvCdp4XHg7OQyBjXxJ" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="你的Google地图API_KEY"/>

        <!--        注册其他页面-->
<!--        <activity android:name=".layout.login.RegisterActivity" android:exported="false" />-->
<!--        <activity android:name=".ProfileActivity" android:exported="false" />-->
<!--        <activity android:name=".ProductListActivity" android:exported="false" />-->
<!--        <activity android:name=".layout.settings.SettingsActivity" android:exported="false" />-->
        <!--        登录成功显示页面-->
        <activity android:name=".layout.home.HomeActivity" android:exported="false" />
        <activity android:name=".layout.home.MonitorActivity" android:exported="false" />
<!--        <activity android:name=".layout.home.HistoryActivity" android:exported="false" />-->
        <!--        Ai答疑页面-->
        <activity
            android:name=".layout.home.agent.AiChatActivity"
            android:exported="false" />


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.linjiu.recognize.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!--        设备Id选择-->
        <meta-data android:name="device_filter" android:resource="@xml/device_filter"/>

    </application>

    <!--        用户权限-->
    <!--    网络权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--    相机使用权限-->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <!--    相册权限-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="34" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <!-- 百度地图SDK所需权限 -->
    <!-- 获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 读取手机状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 获取精确位置 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 获取粗略位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 获取WiFi状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 改变WiFi状态 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 访问定位额外命令 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- 改变网络状态 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- 获取任务信息 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- 唤醒锁定权限 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- 录音权限（语音识别必需） -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature android:name="android.hardware.usb.host" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>



